@charset "utf-8";

.wrap {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.wrap div {
    width: 31.25%;
    height: 300px;
    background: #00f;
    margin-bottom: 20px;
}

.wrap2 {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.wrap2 div {
    width: 31.25%;
    height: 300px;
    background: #f00;
    margin-bottom: 20px;
}

header,
h1,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #000;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

header {
    max-width: 960px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

ul {
    margin-left: 180px;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

li {
    margin-right: 30px;
}

li+li {
    padding-left: 30px;
    border-left: 1px solid #000;
}

@media screen and (max-width:767px) {
    .header_bg {
        display: block;
    }

    .header_lists {
        width: 100%;
        line-height: 50px;
        margin: 0;
        display: inline-block;
    }

    .list1,
    .list2,
    .list3,
    .list4,
    .list5 {
        margin: 0;
        padding-left: 0;
        padding-top: 10px;
        padding-right: auto;
        padding-bottom: 10px;
        border-bottom: 1px solid #000;
    }

}